
.accueil__presentation{
    background-color: #A1D9AA;
    margin-top: -10px;
    display: flow-root;
    margin-bottom: 30vh;
 
}


.accueil__forme{
    display: flex;
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    width:30vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -35vh;
    
}

.accueil__intro{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2rem;

}
.accueil__titrepartie{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 0;

}

.accueil__ligne{
    position: relative;
    z-index: 2;
    text-align: center;
}


.accueil__card{

    padding: 2vh 6vh 7vh ;
    background-color: white;
    border-radius: 20px;
   
}

.accueil__allcard{
    display: flex;
    justify-content: center;
    margin:  5vh 17vh ;
    gap: 10vh;
}

.accueil__card1{
    width: 80%;
}
.accueil__card2{
    width: 80%;
}

.accueil__card3{
    width: 80%;
}


.accueil__titrecard{
    font-size: 1.8rem;
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    text-align: center;
    

}

.accueil__textcard{
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 40px;
}

.accueil__imgcard{
    text-align: center;
    
}

.accueil__motimportant{
    color: #399A5A;
}

.rotate{
    transform: rotate(180deg);
    
}

.accueil__plante2{
    
    text-align: right;
    margin-top: -77vh;
    position: relative;
    z-index: 2;
}

.accueil__user{
    text-align: center;
}

.intro__2{
    margin-top: -26vh;
}


.accueil__nous{
    display: flex;
    justify-content: space-around;
    gap: 5vh;
    padding: 2vh 5vh;
    margin-bottom: 10vh;
    
}
.accueil__notrepresentation{
    
    background-image: url(../../../public/images/card.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
    box-shadow: 14px 10px 21px rgba(0, 0, 0, 0.25);
    
 
    text-align: center;

    padding: 3vh 5vw;
   
}

.accueil__formation{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.35rem;
    margin-top: -3vh;
    margin-bottom: 17vh;
}
.accueil__nom{
    font-size: 2.9rem;
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    
}

.accueil__petitepresentation{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    
}
.accueil__photo{
    text-align: center;
}


.accueil__formeseparaison{
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.accueil__contacttext{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 3vh 70vh;
    line-height: 3vh;
}

.accueil__appel{
    text-align: center;
    margin-top: 20px;
}